/* Cart page styles */
.cart-page {
    background-color: #fff;
    padding: 40px 0;
    margin: 64px 0 200px;
}

    .cart-page h1 {
        font-size: 2.2rem;
        font-weight:700;
        text-transform:uppercase;
        text-align: center;
        margin-bottom: 40px;
    }

table {
    border-collapse: collapse;
    width: 100%;
}

/* Style cho thẻ thead */


thead th {
    padding: 12px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    border-bottom: 2px solid #ccc;
}

/* Style cho các dòng sản phẩm trong tbody */
tbody tr {
    border-bottom: 1px solid #ddd;
}

tbody td {
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    font-size: 1.6rem;
}

/* Style hình ảnh sản phẩm */
img {
    width: 80px;
    object-fit: cover;
    border-radius: 5px;
}

/* Style cho từng cột */
td:nth-child(1) {
    width: 100px;
    font-weight:600;
}

td:nth-child(2) {
    font-weight: 600;
    width: 35%;
}

tbody input {
    width: 48px;
    padding: 8px 0 8px 4px;
}

td:nth-child(3),
td:nth-child(4),
td:nth-child(5) {
    text-align: center;
}


td:nth-child(3), td:nth-child(5) {
    color: #fd475a;
    font-weight:600;
}
td button{
    border:none;
}

/* Style khi hover vào dòng sản phẩm */
tbody tr:hover {
    background-color: #f9f9f9;
}

.cart-summary{
    float:right;
    margin: 32px 0;
}

    .cart-summary p {
        font-weight: 600;
        font-size: 1.6rem;
        margin-top: 16px;
        margin-left: -94px;
    }

.cart-page strong {
    margin-top: 20px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #fd475a;
}

.btn-checkout {
    float: right;
    font-size: 1.6rem;
    background: #009981;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 8px;
    margin: 16px 0 16px -94px;
}


/*Thanh toán*/
.checkout-page .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.checkout-page h1{
    font-size:2.8rem;
    font-weight:700;

}
.checkout-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    gap: 20px;
    margin: 16px 0;
}

.customer-info {
    width: 55%;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.order-summary {
    width: 45%;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 20px;
}

.customer-info h2, .order-summary h2 {
    margin-bottom: 15px;
    font-weight:700;
}

    .customer-info label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .customer-info input {
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .cart-item{
        display:flex;
        justify-content:space-between;
    }

    .order-summary .order-total,.shipping-fee{
        display:flex;
        justify-content:space-between;
    }
    .order-total span {
        font-weight:600;
    }

.order-total strong {
    font-size: 1.6rem;
    font-weight: 600;
    color: #fd475a;
}
